<p>Dear <%= @resource.name %>,</p>
<p>  Welcome to this site. Your account has successfully been created. </p>
<p> Please Login to your account</a> using these credentials: </p>
<ul>
  <li>Username: <%= @resource.email %></li>
  <li>Password: <%= @resource.Password %></li>
</ul>
